<div class="container">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> CategoriaId </th>
      <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="preco">
      <th mat-header-cell *matHeaderCellDef> Preco </th>
      <td mat-cell *matCellDef="let element"> {{element.preco}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="datavalidade">
      <th mat-header-cell *matHeaderCellDef> DatadeValidade </th>
      <td mat-cell *matCellDef="let element"> {{element.datavalidade}} </td>
    </ng-container>
   
     <!-- Unidade Column -->
     <ng-container matColumnDef="unidademedida">
        <th mat-header-cell *matHeaderCellDef> UnidadeDeMedida </th>
        <td mat-cell *matCellDef="let element"> {{element.unidademedida}} </td>
      </ng-container>
  
      <!-- Unidade Column -->
     <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef> Marca </th>
        <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">  
            <button mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary">
                <mat-icon>delete</mat-icon>
              </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
